body {
    background: rgb(136, 136, 231);
    font: normal 15pt Arial;
   
}

header{
    color: white;
    text-align: center;

}

section{
    background: white; /* cor de fundo  */
    border-radius: 10px; /* borda circular */
    padding: 15px; /* espaço dentro */
    width: 500px; /* largura */
    margin: auto; /*centralizar */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664) ;

}

select#flista{
    width: 150 px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}